.bio {
    margin-left: 7px;
}

.gender {
    font-size: 40px;
    border: 2px solid #504d4d5e;
    margin-inline: 2px;
}

.input-hidden {
   display: none;
   
  }
  
  input[type=radio]:checked + label>.gender {
    border: 1px solid #fff;
    box-shadow: 0 0 3px 3px #090;
  }
  
  